<div class="row">
    <div class="col-md-6 offset-3">
    <h1 class="text-info">No deberías estar aquí, pulsa el botón y no digas nada a nadie.</h1>
    <hr />
    <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Inicio</a>
    </div>
</div>